<p>Ingrese fecha de nacimiento</p>
<b>DD/MM/YYYY </b>
<input  type="number" class="input-diminuto" [(ngModel)]="dia" placeholder="DD">
<input type="number" class="input-diminuto" [(ngModel)]="mes" placeholder="MM">
<input type="number" class="input-diminuto" [(ngModel)]="ano" placeholder="YYYY">

  <ul *ngIf="ano>2005" >
    <h2>Bebidas sin alcohol</h2>
    <li *ngFor="let bebida of Bebidas" >{{bebida}}</li>

  </ul>
  <ul *ngIf="ano<=2005 && ano>1900" >
    <h2>Bebidas sin alcohol</h2>
    <li *ngFor="let bebida of Bebidas" >{{bebida}}</li>
    <h2>Bebidas con alcohol</h2>
    <li *ngFor="let bebida of BebidasCA" >{{bebida}}</li>
  </ul>

